{% extends 'pages/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<section class="bg-dark text-white py-5">
    <div class="container text-center py-4">
        <h1 class="display-4 fw-bold">{{ welcome_text }}</h1>
        <p class="lead mt-3">Stay up to date with the latest Formula 1, MotoGP, and motorsport news from around the world.</p>
        <a href="#" class="btn btn-danger btn-lg mt-3">Read Latest News</a>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h2 class="mb-4">Latest Articles</h2>
        <div class="row g-4">
            <div class="col-12 col-md-4">
                <div class="card h-100">
                    <img src="https://placehold.co/600x300" class="card-img-top" alt="Article image">
                    <div class="card-body">
                        <h5 class="card-title">Monaco GP: Verstappen Dominates</h5>
                        <p class="card-text">Max Verstappen claimed a dominant victory at the Monaco Grand Prix, extending his championship lead.</p>
                        <a href="#" class="btn btn-outline-danger">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card h-100">
                    <img src="https://placehold.co/600x300" class="card-img-top" alt="Article image">
                    <div class="card-body">
                        <h5 class="card-title">MotoGP: Bagnaia Takes Pole in Italy</h5>
                        <p class="card-text">Francesco Bagnaia set a blistering lap time to secure pole position at the Italian Grand Prix weekend.</p>
                        <a href="#" class="btn btn-outline-danger">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card h-100">
                    <img src="https://placehold.co/600x300" class="card-img-top" alt="Article image">
                    <div class="card-body">
                        <h5 class="card-title">WEC: Ferrari Eyes Le Mans Glory</h5>
                        <p class="card-text">Ferrari's hypercar squad is targeting a second consecutive Le Mans 24 Hours victory this season.</p>
                        <a href="#" class="btn btn-outline-danger">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
